html, body {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
}

h1 {
    margin-top: 100px;
}

 .grid {
     
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
 }

 .square {
     width: 18px;
     height: 18px;
     margin: 1px;
     
 }

 .snake {
     background-color: rgb(63, 240, 240);
 }

 .apple {
     /* width: 20px;
     height: 20px; */
     background-color: crimson;
 }